.profile-card1 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;
}

.profile-card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.profile-card-content1 {
    padding: 30px 55px;
	text-align: center;
}
.profile-card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:460px;
}
.profile-card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.profile-card-content2 {
    padding: 30px 55px;
	text-align: left;
}
.profile-card3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:460px;
}
.profile-card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.profile-card-content3 {
    padding: 30px 55px;
	text-align: left;
}